*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  background-image: url('names.jpg'), linear-gradient( rgb(250, 188, 182), teal);
  background-blend-mode: overlay;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  padding-top: 10em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, p{
  margin-top: 0;
}

h1{
  font-size: 3rem;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: rgb(255, 46, 151);
  text-shadow: 4px 4px 0px rgb(255, 223, 223);
  background-color: rgba(133, 238, 251, 0.575);
  border: 5px solid aqua;
  border-radius: 10px;

}

.container{
  max-width: 75%;
  margin: 0 auto;
}


button{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.name-container{
  background-color: rgba(133, 238, 251, 0.575);
  color: rgb(246, 7, 126);
  text-shadow: 2px 2px 0px rgb(255, 227, 227);
  border: 5px solid aqua;
  border-radius: 10px;
  display: grid;
  text-align: center;
  margin-bottom: 2em;
}

.name-container *{
  margin: 0;
  padding: 1em;
}


.cell{
  border-bottom: 1px solid aquamarine;
}


.form{
  display: grid;
  grid-row-gap: 0.5em;
}

input, button{
  border: none;
  border-radius: 10px;
}

input{
  padding: 1em 2em;
}

button{
  background: aqua;
  color: rgb(255, 46, 151);
  font-weight: 800;
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media screen and (min-width: 700px){
  *{
    font-size: 18px;
  }

  .container{
    max-width: 65%;
  }

  .form{
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    margin: 0 auto;
  }

  .name-container{
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px 200px;
  }

  .name-container *{
    font-size: 1.75rem;
  }

  .one{
    grid-column: span 2;
  }

  .two{
    border-right: 1px solid aquamarine;
  }
}